* {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #fff;
  box-sizing: border-box;
  font-size: 1.28em;
}

h1 {
  margin: 0;
}

span {
  font-size: 2.2em !important;
  color: #d6b035;
}

body {
  background-color: #212124;
  text-align: center;
  height: 90vh;
}

.flex {
  justify-content: center;
  display: flex;
  align-items: center;
}

body,
form {
  flex-direction: column;
}

body,
form,
div {
  row-gap: 50px;
  column-gap: 20px;
}

#input-div {
  border: 1px solid #fff;
  padding: 5px 0 0 20px;
  border-radius: 5px;
}

#input-div span {
  color: #fff;
  font-size: 0.9em !important;
  text-align: start;
}

input {
  background: none;
  border: none;
  outline: none;
  width: 25vw;
  height: 8vh;
  font-size: 0.5em;
}

input::placeholder {
  color: #fff;
  font-size: 1.2em;
}

button {
  background-color: #fff;
  color: #b89523;
  border-radius: 10px;
  width: 25vw;
  padding: 25px;
  font-size: 0.8em;
  border: none;
  font-weight: 600;
}

button:hover {
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  background-color: #b89523;
}

p {
  font-size: 3em;
  letter-spacing: 15px;
  margin: 0;
}

#copyButton {
  width: 8vh;
  height: 8vh;
  padding: 0;
  border-radius: 10px;
  display: none;
}

#outside-div {
  row-gap: 10px;
}

#outside-div:hover {
  border: 3px solid #919191;
  transition: 0.3s;
}

div:hover #copyButton {
  display: block;
}

div:hover p {
  cursor: pointer;
}

#msg {
  display: var(--copied);
  color: #919191;
  border: 1px solid #bf3ac4;
  border-radius: 60px;
  padding: 5px 15px;
  font-size: 1.7em;
  letter-spacing: 5px;
}
